Flask==3.0.3
Flask-Cors==5.0.0
python-dotenv==1.0.1
pypdf==4.2.0
sentence-transformers==3.0.1
faiss-cpu==1.8.0
rank-bm25==0.2.2
requests==2.32.3
gunicorn==22.0.0
SQLAlchemy==2.0.30
Flask-SQLAlchemy==3.1.1
Alembic==1.13.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.9
